@import "src/assets/style";

.travel{
  &__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
    align-items: center;
  }
  &__item{
    margin-top: 1rem;
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: auto max-content repeat(2, 1fr) auto;
    align-items: center;
    gap:2rem;
    //justify-content: space-between;
    border-bottom: 1px solid $gray;
  }
  &__map{
    margin-top: 1rem;
  }
  &__img{
    width: 5rem;
    max-height: 5rem;
    object-fit: cover;
  }
&__link{
  cursor: pointer;
}
}
