@import "src/assets/style";
.carousel {
  //width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  //&__container {
  //  //width: 80%;
  //  h1{
  //    padding-bottom: 1rem;
  //  }
  //}
}
//.legend1{
//  background-color: #5a30ec;
//}
//.image__label{
//  margin-top: -6rem;
//  font-size: 2rem;
//  font-weight: bold;
//  color: white;
//  text-shadow: 1px 1px 1px #000;
//}
