@import "src/assets/style";
.list {
  display: flex;
  padding: 3px 5px 0 5px;
  margin: 0;
  font-size: 1rem;
  gap: 2px;
  line-height: 1;
  background-color: $white;
border-bottom: 1px solid $gray;

  &__item {
    display: flex;
    width: auto;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none;
    color: $main_blue;
    &:hover:not(.list__item--active) {
    }
&:first-child{
  min-width: 200px;
}
  }
  &__search{
display: flex;
    width: 100%;
    justify-content: space-between;
  }
&__input{
  background-color: $form;
  border: none;
  outline: none;
  padding: 0.5rem 1rem;
  size: 1rem;
}
}
.logo{
  font-size: 24px;
  //padding:0 1rem;
  font-weight: bold;

}
.user-icon{
  background-color: $form;
  border-radius: 50px;
  border: 1px solid $main_blue;
  margin-right: 0.5rem;
}
